* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Avenir', sans-serif;
  background: black;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
}

a {
  border-bottom: 1px dotted #5B9FEF;
  color:#ffffff;
  text-decoration: none;
}

a:hover {
    color: blue;
}

h2 {
    color: white;
}

p {color: white;}

.app-container {
    padding: 2%;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.app-container nav {
    background: black;
    position: sticky;
    z-index:  2000;
    width: 100%;
    top: 0;
    padding: 2% 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.content-container {
    /* padding: 5%; */
    width: 100%;
}

.nav-container {
    /* width: 100%; */
    margin-left: 5%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* top: 0; */
}

.app-container nav ul {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding: 20px 0px;
}

.app-container nav li {
  list-style: none;
  margin-left: 20px;
}

.app-container nav a {
  display: inline-block;
  color: rgb(255, 255, 255);
  border-bottom: none;
}

.app-container nav a:hover {
  color: white;
}

.settings-form,
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  margin: 35px 0px 65px;
}

.settings-form > p,
.form-container > p {
  margin-bottom: 25px;
}

.settings-form p {
  text-align: center;
}

.settings-form input,
.settings-form button {
  font-size: 14px;
  padding: 0 10px;
  height: 38px;
  border-radius: 2px;
}

.settings-form input {
  width: 350px;
  background-color: #F7F9FA;
  border: 1px solid #DBE3E7;
  color: #536171;
}

.settings-form .label-title {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
}

.settings-form button {
  width: 200px;
  border: 1px solid #2b67ad;
  background: linear-gradient(0deg, #3C80CF 0%, #5B9FEF 100%) no-repeat;
  color: white;
}

.elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1px;
    width: 100%;
}

.element-in-list {
    display: flex;
    width: 50%;
    padding: 3%;
    outline-color: white;
    outline-width: 0.5px;
    outline-style: solid;
    outline-offset: -0px;
    background: black;
    align-items: center;
    justify-content: center;
}

.element-image a {
  border-bottom: none;
}

.element-header h2 {
  display: inline;
}

.element-header h2 {
    display: inline;
    font-size: 1em;
    font-weight: lighter;
}

.element-header h2 a {
  border-bottom: none;
}

.element-details > * {
  margin-bottom: 10px;
}

.element-categories {
  font-weight: bold;
}

.element-tags span {
  font-weight: bold;
}

.element {
  display: flex;
  flex-direction: column;
}

.element > *, .brand > * {
  margin-bottom: 15px;
}

.elements-list {
    width: 100%;
    position: sticky;
    flex-shrink: 4;
    align-self: flex-start;
    top: 20px;
    opacity:  1;
    transition: visibility 0.5s linear,opacity 0.5s linear;
}

.categories {
    display: flex;
    flex-flow: row wrap;
    /* overflow: scroll; */
    /* height: 80vh; */
    padding-top: 5px;
    width: 100%;
    position: relative;
}

.selected-category {
    /* padding: 5%; */
    position:  relative;
}

.categories-list {
    list-style: none;
    width: 100%;
    flex: 1;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition-delay:  2s;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    display:  none;
    z-index:  3000;
    padding:  5%;
}

.categories-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 4em;
  color: #ffffff;
  width: 80%;
}

.categories-list img {
  margin-right: 5px;
}

li.info {
    color: white;
}


.examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.example-in-list {
    flex: 0 1 100%;
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
}

.example-info {
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
}

.example-caption {
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
    align-items: center;
    justify-content: center;
    padding: 5%;
    /* align-self:  stretch; */
}

.example-meta {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
    flex-basis:  auto;
    align-self: flex-end;
}

.example-info {
    color: white;
}

.example-meta-list {
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
    flex-grow: 1;
    text-align: center;
    padding: 3%;
    font-size:  0.8em;
}

div#examplescontainer {
    height: 900px;
    padding: 5%;
}

.example-slug {
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
    padding: 5%;
    text-align: center;
}

.example-details {
    display: flex;
    flex-direction: row;
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
    flex-basis: auto;
    flex-grow: 1;
}

.example-details-list {
    outline-color: #ffffff;
    outline-width: 1px;
    outline-style: solid;
    padding: 3%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size:  0.8em;
}

.product-image {
    /* outline-color: #ffffff; */
    /* outline-width: 1px; */
    /* outline-style: solid; */
    /* flex-grow: 1; */
    /* width: 50%; */
    /* text-align: center; */
    flex-grow: 1; /* default 0 */
    align-content: right;
}

img.example-image {
    width:  100%;
}

.example-header {
    flex-grow: 1;
}

a {
    color: white;
}

.example-info-side {
    flex-grow: 1; /* default 0 */
    flex-flow: row wrap;
    align-self: stretch;
}

.animatemenu {
    visibility: visible;
    background-color: black;
    opacity: 1;
    transition-delay:  2s;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    display:  initial;
}


.animateelements {
    animation-duration:  200ms;
    transition-delay:  100ms;
    visibility: visible;
    background-color: black;
    opacity: 0;
    transition: visibility 0.5s linear,opacity 0.5s linear;
}


.selected-category-inner {
    width: 50%;
    background:  black;
    position: absolute;
    bottom: 20px;
    margin:  5%;
}

.category-background {
    /* width: 110%; */
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.selected-category-title {
    padding: 5%;
    outline-color: white;
    outline-width: 0.5px;
    outline-style: solid;
    outline-offset: -0px;
}

h2.category-inner-title {
    margin-bottom: 20px;
}